<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<context:annotation-config />


	<context:property-placeholder
		location="classpath:spring/${database}-oauth-access.properties" />


	<bean id="meterReading2" class="org.energyos.espi.common.domain.MeterReading" />

	<bean id="accessToken" class="org.energyos.espi.common.domain.AccessToken" />
	<bean id="applicationInformation" class="org.energyos.espi.common.domain.ApplicationInformation" />
	<bean id="applicationInformationScope"
		class="org.energyos.espi.common.domain.ApplicationInformationScope" />
	<bean id="authorization" class="org.energyos.espi.common.domain.Authorization" />
	<bean id="batchItemInfo" class="org.energyos.espi.common.domain.BatchItemInfo" />
	<bean id="batchList" class="org.energyos.espi.common.domain.BatchList" />
	<bean id="configuration" class="org.energyos.espi.common.domain.Configuration" />
	<bean id="dateTimeInterval" class="org.energyos.espi.common.domain.DateTimeInterval" />
	<bean id="dlectricPowerQualitySummary"
		class="org.energyos.espi.common.domain.ElectricPowerQualitySummary" />
	<bean id="electricPowerUsageSummary"
		class="org.energyos.espi.common.domain.ElectricPowerUsageSummary" />
	<bean id="identifiedObject" class="org.energyos.espi.common.domain.IdentifiedObject" />
	<bean id="intervalBlock" class="org.energyos.espi.common.domain.IntervalBlock" />
	<bean id="intervalReading" class="org.energyos.espi.common.domain.IntervalReading" />
	<bean id="lineItem" class="org.energyos.espi.common.domain.LineItem" />
	<bean id="meterReading" class="org.energyos.espi.common.domain.MeterReading" />
	<bean id="object" class="org.energyos.espi.common.domain.Object" />
	<bean id="objectFactory" class="org.energyos.espi.common.domain.ObjectFactory" />
	<bean id="rationalNumber" class="org.energyos.espi.common.domain.RationalNumber" />
	<bean id="readingInterharmonic" class="org.energyos.espi.common.domain.ReadingInterharmonic" />
	<bean id="readingQuality" class="org.energyos.espi.common.domain.ReadingQuality" />
	<bean id="readingType" class="org.energyos.espi.common.domain.ReadingType" />
	<bean id="resource" class="org.energyos.espi.common.domain.Resource" />
	<bean id="retailCustomer" class="org.energyos.espi.common.domain.RetailCustomer" />
	<bean id="routes" class="org.energyos.espi.common.domain.Routes" />
	<bean id="serviceCategory" class="org.energyos.espi.common.domain.ServiceCategory" />
	<bean id="serviceDeliveryPoint" class="org.energyos.espi.common.domain.ServiceDeliveryPoint" />
	<bean id="serviceStatus" class="org.energyos.espi.common.domain.ServiceStatus" />
	<bean id="subscription" class="org.energyos.espi.common.domain.Subscription" />
	<bean id="summaryMeasurement" class="org.energyos.espi.common.domain.SummaryMeasurement" />
	<bean id="timeConfiguration" class="org.energyos.espi.common.domain.TimeConfiguration" />
	<bean id="usagePoint" class="org.energyos.espi.common.domain.UsagePoint" />
	<bean id="usagePointDetail" class="org.energyos.espi.common.domain.UsagePointDetail" />
	<bean id="user" class="org.energyos.espi.common.domain.User" />


	<bean id="categoryType" class="org.energyos.espi.common.models.atom.CategoryType" />
	<bean id="contentType" class="org.energyos.espi.common.models.atom.ContentType" />
	<bean id="dateTimeType" class="org.energyos.espi.common.models.atom.DateTimeType" />
	<bean id="entryType" class="org.energyos.espi.common.models.atom.EntryType" />
	<bean id="feedType" class="org.energyos.espi.common.models.atom.FeedType" />
	<bean id="generatorType" class="org.energyos.espi.common.models.atom.GeneratorType" />
	<bean id="iconType" class="org.energyos.espi.common.models.atom.IconType" />
	<bean id="idType" class="org.energyos.espi.common.models.atom.IdType" />
	<bean id="linkType" class="org.energyos.espi.common.models.atom.LinkType" />
	<bean id="logoType" class="org.energyos.espi.common.models.atom.LogoType" />
	<bean id="personType" class="org.energyos.espi.common.models.atom.PersonType" />
	<bean id="sourceType" class="org.energyos.espi.common.models.atom.SourceType" />
	<bean id="textType" class="org.energyos.espi.common.models.atom.TextType" />
	<bean id="uriType" class="org.energyos.espi.common.models.atom.UriType" />



	<bean id="dateConverter" class="org.energyos.espi.common.utils.DateConverter" />
	<bean id="entryBuilder" class="org.energyos.espi.common.utils.EntryBuilder" />
	<bean id="espiMarshaller" class="org.energyos.espi.common.utils.EspiMarshaller" />
	<bean id="sHA1PasswordEncoder" class="org.energyos.espi.common.utils.SHA1PasswordEncoder" />
	<bean id="stringToLongFilter" class="org.energyos.espi.common.utils.StringToLongFilter" />



	<!-- <context:component-scan base-package="org.energyos.espi.common.domain" 
		/> <context:component-scan base-package="org.energyos.espi.common.models.atom" 
		/> <context:component-scan base-package="org.energyos.espi.common.utils" 
		/> -->



	<import resource="classpath:spring/business-config.xml" />
	<import resource="classpath:spring/business-jaxb-config.xml" />
	<import resource="classpath:spring/data-config.xml" />




	<bean id="applicationInformationRepository"
		class="org.energyos.espi.common.repositories.jpa.ApplicationInformationRepositoryImpl"
		lazy-init="true" />

	<bean id="authorizationRepository"
		class="org.energyos.espi.common.repositories.jpa.AuthorizationRepositoryImpl"
		lazy-init="true" />


	<bean id="batchListRepository"
		class="org.energyos.espi.common.repositories.jpa.BatchListRepositoryImpl"
		lazy-init="true" />
	<bean id="electricPowerQualitySummaryRepository"
		class="org.energyos.espi.common.repositories.jpa.ElectricPowerQualitySummaryRepositoryImpl"
		lazy-init="true" />
	<bean id="electricPowerUsageSummaryRepository"
		class="org.energyos.espi.common.repositories.jpa.ElectricPowerUsageSummaryRepositoryImpl"
		lazy-init="true" />
	<bean id="intervalBlockRepository"
		class="org.energyos.espi.common.repositories.jpa.IntervalBlockRepositoryImpl"
		lazy-init="true" />
	<bean id="meterReadingRepository"
		class="org.energyos.espi.common.repositories.jpa.MeterReadingRepositoryImpl"
		lazy-init="true" />
	<bean id="readingTypeRepository"
		class="org.energyos.espi.common.repositories.jpa.ReadingTypeRepositoryImpl"
		lazy-init="true" />
	<bean id="resourceRepository"
		class="org.energyos.espi.common.repositories.jpa.ResourceRepositoryImpl"
		lazy-init="true" />
	<bean id="retailCustomerRepository"
		class="org.energyos.espi.common.repositories.jpa.RetailCustomerRepositoryImpl"
		lazy-init="true" />
	<bean id="subscriptionRepository"
		class="org.energyos.espi.common.repositories.jpa.SubscriptionRepositoryImpl"
		lazy-init="true" />
	<bean id="timeConfigurationRepository"
		class="org.energyos.espi.common.repositories.jpa.TimeConfigurationRepositoryImpl"
		lazy-init="true" />
	<bean id="usagePointDetailRepository"
		class="org.energyos.espi.common.repositories.jpa.UsagePointDetailRepositoryImpl"
		lazy-init="true" />
	<bean id="usagePointRepository"
		class="org.energyos.espi.common.repositories.jpa.UsagePointRepositoryImpl"
		lazy-init="true" />
	<bean id="userRepository"
		class="org.energyos.espi.common.repositories.jpa.UserRepositoryImpl"
		lazy-init="true" />

	<bean id="applicationInformationService"
		class="org.energyos.espi.common.service.impl.ApplicationInformationServiceImpl"
		lazy-init="true" />


	<bean id="authorizationService"
		class="org.energyos.espi.common.service.impl.AuthorizationServiceImpl"
		lazy-init="true" />

	<bean id="batchListService"
		class="org.energyos.espi.common.service.impl.BatchListServiceImpl"
		lazy-init="true" />
	<bean id="electricPowerQualitySummaryService"
		class="org.energyos.espi.common.service.impl.ElectricPowerQualitySummaryServiceImpl"
		lazy-init="true" />
	<bean id="electricPowerUsageSummaryService"
		class="org.energyos.espi.common.service.impl.ElectricPowerUsageSummaryServiceImpl"
		lazy-init="true" />
	<bean id="entryProcessorService"
		class="org.energyos.espi.common.service.impl.EntryProcessorServiceImpl"
		lazy-init="true" />
	<bean id="exportService" class="org.energyos.espi.common.service.impl.ExportServiceImpl"
		lazy-init="true" />
	<bean id="importService" class="org.energyos.espi.common.service.impl.ImportServiceImpl"
		lazy-init="true" />
	<bean id="intervalBlockService"
		class="org.energyos.espi.common.service.impl.IntervalBlockServiceImpl"
		lazy-init="true" />
	<bean id="meterReadingService"
		class="org.energyos.espi.common.service.impl.MeterReadingServiceImpl"
		lazy-init="true" />
	<bean id="notificationService"
		class="org.energyos.espi.common.service.impl.NotificationServiceImpl"
		lazy-init="true" />
	<bean id="readingTypeService"
		class="org.energyos.espi.common.service.impl.ReadingTypeServiceImpl"
		lazy-init="true" />
	<bean id="resourceService"
		class="org.energyos.espi.common.service.impl.ResourceServiceImpl"
		lazy-init="true" />
	<bean id="retailCustomerService"
		class="org.energyos.espi.common.service.impl.RetailCustomerServiceImpl"
		lazy-init="true" />
	<bean id="stateService" class="org.energyos.espi.common.service.impl.StateServiceImpl"
		lazy-init="true" />
	<bean id="subscriptionService"
		class="org.energyos.espi.common.service.impl.SubscriptionServiceImpl"
		lazy-init="true" />
	<bean id="timeConfigurationService"
		class="org.energyos.espi.common.service.impl.TimeConfigurationServiceImpl"
		lazy-init="true" />
	<bean id="usagePointService"
		class="org.energyos.espi.common.service.impl.UsagePointServiceImpl"
		lazy-init="true" />
	<bean id="defaultLoginService" class="org.energyos.espi.common.service.DefaultLoginService"
		lazy-init="true" />



	<bean id="dateUtil" class="org.energyos.espi.datacustodian.utils.DateUtil" />
	<bean id="uRLHelper" class="org.energyos.espi.datacustodian.utils.URLHelper" />
	<bean id="dateController" class="org.energyos.espi.datacustodian.utils.DateController"
		scope="prototype" />




	<bean id="baseController" class="org.energyos.espi.datacustodian.web.BaseController"
		lazy-init="true">
		<property name="retailCustomerService">
			<ref bean="retailCustomerService" />
		</property>
	</bean>
	<bean id="defaultController" class="org.energyos.espi.datacustodian.web.DefaultController"
		lazy-init="true" />
	<bean id="homeController" class="org.energyos.espi.datacustodian.web.HomeController"
		lazy-init="true">
		<property name="retailCustomerService">
			<ref bean="retailCustomerService" />
		</property>

	</bean>
	<bean id="loginController" class="org.energyos.espi.datacustodian.web.LoginController"
		lazy-init="true" />
	<bean id="versionRESTController"
		class="org.energyos.espi.datacustodian.web.VersionRESTController"
		lazy-init="true" />

	<bean id="authorizedThirdPartiesController"
		class="org.energyos.espi.datacustodian.web.customer.AuthorizedThirdPartiesController"
		lazy-init="true" />
	<bean id="customerHomeController"
		class="org.energyos.espi.datacustodian.web.customer.CustomerHomeController"
		lazy-init="true" />
	<bean id="connectMyDataController"
		class="org.energyos.espi.datacustodian.web.customer.ConnectMyDataController"
		lazy-init="true" />
	<bean id="downloadMyDataController"
		class="org.energyos.espi.datacustodian.web.customer.DownloadMyDataController"
		lazy-init="true" />
	<bean id="meterReadingController"
		class="org.energyos.espi.datacustodian.web.customer.MeterReadingController"
		lazy-init="true" />
	<bean id="scopeSelectionController"
		class="org.energyos.espi.datacustodian.web.customer.ScopeSelectionController"
		lazy-init="true" />
	<bean id="thirdPartyController"
		class="org.energyos.espi.datacustodian.web.customer.ThirdPartyController"
		lazy-init="true" />
	<bean id="usagePointController"
		class="org.energyos.espi.datacustodian.web.customer.UsagePointController"
		lazy-init="true" />





	<bean id="associateUsagePointController"
		class="org.energyos.espi.datacustodian.web.custodian.AssociateUsagePointController"
		lazy-init="true" />
	<bean id="custodianHomeController"
		class="org.energyos.espi.datacustodian.web.custodian.CustodianHomeController"
		lazy-init="true" />
	<bean id="custodianThirdPartyController"
		class="org.energyos.espi.datacustodian.web.custodian.CustodianThirdPartyController"
		lazy-init="true" />
	<bean id="managementController"
		class="org.energyos.espi.datacustodian.web.custodian.ManagementController"
		lazy-init="true" />
	<bean id="retailCustomerController"
		class="org.energyos.espi.datacustodian.web.custodian.RetailCustomerController"
		lazy-init="true" />
	<bean id="uploadController"
		class="org.energyos.espi.datacustodian.web.custodian.UploadController"
		lazy-init="true" />
	<bean id="uploadForm"
		class="org.energyos.espi.datacustodian.web.custodian.UploadForm"
		lazy-init="true" />

	<bean id="registrationController"
		class="org.energyos.espi.datacustodian.web.thirdparty.RegistrationController"
		lazy-init="true">
	</bean>

	<bean id="retailCustomerServiceImpl"
		class="org.energyos.espi.common.service.impl.RetailCustomerServiceImpl"
		lazy-init="true" />

	<bean id="service"
		class="org.energyos.espi.common.service.impl.RetailCustomerServiceImpl"
		lazy-init="true" />
		
		
		
		
	<bean id="applicationInformationRESTController"
		class="org.energyos.espi.datacustodian.web.api.ApplicationInformationRESTController"
		lazy-init="true" />
		

	<bean id="batchRESTController"
		class="org.energyos.espi.datacustodian.web.api.BatchRESTController"
		lazy-init="true" />

	<bean id="retailCustomerRESTController"
		class="org.energyos.espi.datacustodian.web.api.RetailCustomerRESTController"
		lazy-init="true" />


	<bean id="usagePointRESTController"
		class="org.energyos.espi.datacustodian.web.api.UsagePointRESTController"
		lazy-init="true" />


	<bean id="intervalBlockRESTController"
		class="org.energyos.espi.datacustodian.web.api.IntervalBlockRESTController"
		lazy-init="true" />

	<bean id="serviceStatusRESTController"
		class="org.energyos.espi.datacustodian.web.api.ServiceStatusRESTController"
		lazy-init="true" />


	<bean id="authorizationStatusRESTController"
		class="org.energyos.espi.datacustodian.web.api.AuthorizationStatusRESTController"
		lazy-init="true" />

	<bean id="authorizationRESTController"
		class="org.energyos.espi.datacustodian.web.api.AuthorizationRESTController"
		lazy-init="true" />


	<bean id="tokenEnhancer" class="org.energyos.espi.datacustodian.oauth.EspiTokenEnhancer"
		lazy-init="true">
		<property name="baseURL" value="${datacustodian.base.url}" />
	</bean>


	<!-- <context:component-scan base-package="org.energyos.espi.common.repositories" 
		/> <context:component-scan base-package="org.energyos.espi.common.service" 
		/> <context:component-scan base-package="org.energyos.espi.datacustodian.utils" 
		/> <context:component-scan base-package="org.energyos.espi.datacustodian.web" 
		/> -->
	<!-- do at the end -->


	<import resource="classpath:spring/oauth-AS-config.xml" />
	<import resource="classpath:spring/oauth-RS-config.xml" />
	<import resource="classpath:spring/security-config.xml" />


	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="msg/datacustodian" />
	</bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<bean
				class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prefix" value="/WEB-INF/jsp/lh"></property>
				<property name="suffix" value=".jsp"></property>
			</bean>
		</property>
		<property name="defaultViews">
			<!-- TODO: Migrate to MappingJackson2JsonView -->
			<bean
				class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
				<property name="extractValueFromSingleKeyModel" value="true" />
			</bean>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000000" />
	</bean>
</beans>